.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.silver{
    color: silver;
}

.yellow {
    color: yellow;
}

.brown {
    color: brown;
}

.orange {
    color: orange;
}

.black {
    color: black;
}

.white {
    color: white;
}

.pink {
    color: pink;
}

.purple {
    color: purple;
}

.deepSilver {
    color : #575757;
}


