<div class="login-dark">
  <form [formGroup]="registrationForma" (submit)="postDataForRegistration()">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>

    <div
      [ngClass]="(registrationForma.controls.email.invalid) ? 'error' : 'form-group' ">
      <input class="form-control" type="text" formControlName="email" placeholder="Email">
    </div>

    <div
      [ngClass]="(registrationForma.controls.password.invalid) ? 'error' : 'form-group' ">
      <input class="form-control" type="password" formControlName="password"
             placeholder="Password">
    </div>

    <div
      [ngClass]="registrationForma.controls.password.touched && (registrationForma.controls.password.value != registrationForma.controls.duplicate_password.value
      || registrationForma.controls.password.invalid || registrationForma.controls.duplicate_password.invalid) ? 'error' : 'form-group' ">

      <input class="form-control" type="password" formControlName="duplicate_password"
             placeholder="Dublicate password">
    </div>

    <div
      [ngClass]="(registrationForma.controls.name.invalid) ? 'error' : 'form-group' ">
      <input class="form-control" type="text" formControlName="name"
             placeholder="Name">
    </div>

    <div
      [ngClass]="(registrationForma.controls.surname.invalid) ? 'error' : 'form-group' ">
      <input class="form-control" type="text" formControlName="surname"
             placeholder="Surname">
    </div>

    <div
      [ngClass]="(registrationForma.controls.age.invalid) ? 'error' : 'form-group' ">
      <input class="form-control" type="text" formControlName="age"
             placeholder="Age">
    </div>

    <div>
      <button (click)="setAdminMode(!adminMode)" type="button">
        <span *ngIf="!adminMode">Admin mode</span>
        <span *ngIf="adminMode">Close</span>
      </button>

      <div *ngIf="adminMode">
        <input class="form-control" type="password" formControlName="passwordForStatus"
               placeholder="Password for mode">
      </div>

    </div>

    <div class="frm-group">
      <button [disabled]="registrationForma.invalid" class="btn btn-primary btn-block" type="submit">Sign Up</button>
    </div>
    <a (click)="navigate()" class="forgot cursor">Forgot your email or password?</a>
  </form>
</div>
