<div class="login-dark">
  <form [formGroup]="loginForma" (submit)="login()">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
    <div
      [ngClass]="(loginForma.controls.username.invalid) ? 'error' : 'form-group' ">
      <input class="form-control " type="text" formControlName="username"
             placeholder="Login">
    </div>
    <div
      [ngClass]="(loginForma.controls.password.invalid) ? 'error' : 'form-group' ">
      <input class="form-control" type="password" formControlName="password" placeholder="Password"></div>
    <div class="frm-group">
      <button [disabled]="loginForma.invalid" class="btn btn-primary btn-block" type="submit">Log In</button>
    </div>
    <a (click)="navigate()" class="forgot cursor">Forgot your email or password?</a></form>
</div>
