<div class="container   bg-white borderRadius10">
  <div class="bg-deepBlack p-3">

    <div class="text-center">
      <div class="my-1 white"><h4> {{course.title}}</h4></div>
      <div class="my-1 silver col-6 mr-center"><span class="lighter">  {{course.description}}</span></div>
      <div class="my-1 silver"><span class="lighter">
      <span class="deepSilver">Price: </span>
        {{course.price}} $</span></div>

      <app-bank-card *ngIf="statusBankCardComponent" [price]="course.price"></app-bank-card>
    </div>

    <div class="col-5">
      <p class="deepSilver">Commentaries: </p>
      <ul class="list-none">
        <li *ngFor="let comment of course.commentaries">
          <p><span class="black">{{comment.ownerName}}:</span> <span class="deepSilver mx-2">{{comment.text}}</span></p>
        </li>
      </ul>
    </div>

    <span class="hoverBTN">
    <button *ngIf="course.statusForCheckIfUserHasThisCourse == 0"
            (click)="setStatusBankCardComponent(!statusBankCardComponent)"
            class="p-1 w-45 border mx-2">
      <span *ngIf="!statusBankCardComponent">Buy</span>
      <span *ngIf="statusBankCardComponent">Back</span></button>

      <button *ngIf="course.statusForCheckIfUserHasThisCourse == 1" (click)="navigate()"
              class="p-1 w-45 border mx-2">Open</button>

    <button (click)="backClicked()" class="p-1 w-45 border mx-2 bg-deepBlack silver">Go back</button>
  </span>
  </div>

</div>
