<div>
  <header>
    <nav class="navbar navbar-inverse opacity09">
      <div class="container-fluid ">
        <div class="navbar-header">
          <a class="navbar-brand" (click)="navigate()">OTTO</a>
        </div>
        <ul *ngIf="appService.userIn == true" class="nav navbar-nav">
          <li [ngClass]="activeRoute('/main') && 'active'"><a routerLink="main">Головна</a></li>
          <li [ngClass]="activeRoute('/courses') && 'active'"><a routerLink="courses">Курси</a></li>
          <li [ngClass]="activeRoute('/#') && 'active'"><a routerLink="#">Про нас</a></li>
          <li [ngClass]="activeRoute('/#') && 'active'"><a routerLink="#">Про курси</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="appService.userIn == false"><a routerLink="registration"><span
            class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li *ngIf="appService.userIn == false"><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span>
            Login</a></li>
          <li *ngIf="appService.userIn == true" (click)="goOut()"><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span>
            Вихід</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
    <div *ngIf="appService.requestStatus" class="container">
      <div class="row">
        <div id="loader">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="loading"></div>
        </div>
      </div>
    </div>
  </main>

  <footer>

  </footer>
</div>
