<div class="container text-center">

  <div class="mt-7Extra">
    <form [formGroup]="recoverPassForm" (submit)="postDataForRecoverPass()">

      <div>

        <h1 class="white">Recover your password</h1>
        <input [ngClass] ="recoverPassForm.controls.password.touched && (recoverPassForm.controls.password.value != recoverPassForm.controls.duplicate_password.value
      || recoverPassForm.controls.password.invalid || recoverPassForm.controls.duplicate_password.invalid) ? 'error' : '' "
          placeholder="Write new password" type="password"
               class="bg-deepBlack border white p-3 w-75"
               formControlName="password" >

        <input [ngClass] ="recoverPassForm.controls.password.touched && (recoverPassForm.controls.password.value != recoverPassForm.controls.duplicate_password.value
        || recoverPassForm.controls.password.invalid || recoverPassForm.controls.duplicate_password.invalid) ? 'error' : '' "
          placeholder="Repeat new password" type="password"
               class="bg-deepBlack border white p-3 w-75 my-2"
               formControlName="duplicate_password">
      </div>

      <p>
        <button [disabled]="recoverPassForm.invalid" class="p-3 mx-2 borderRadius10 w-75"
                type="submit">OK</button>
     </p>
    </form>

  </div>

</div>
