<div>

  <div>
    <button (click)="navigate('/')">Main admin page</button>
    <br>
    <button (click)="navigate('phone')">Create phone</button>
    <br>
    <button (click)="navigate('notebook')">Create notebook</button>
    <br>
    <button (click)="navigate('tv')">Create tv</button>
    <br>
    <button (click)="navigate('allOrders')">Get all orders</button>
    <br>
    <button (click)="navigate('completedOrders')">Get completed orders</button>
    <br>
    <button (click)="navigate('doesntDoneOrders')">Get doesnt done orders</button>
  </div>


  <div>
   <router-outlet></router-outlet>
  </div>

</div>
