<div>
  <h3 class="white">Edit profile</h3>

  <form [formGroup]="editForma" (submit)="editUser()">

    <div class="d-flex">
      <div class="silver mr-3 media360">
        <P><label class="lighter">Name and surname: </label></P>
        <P><label class="lighter">Age: </label></P>
        <P><label class="lighter">Sex </label></P>
        <P><label class="lighter">Password: </label></P>
        <P><label class="lighter">Duplicate password: </label></P>
      </div>

      <div class="editForma white">
        <div [ngClass]="(editForma.controls.name_surname.invalid) ? 'error' : 'form-group' ">
          <input type="text" formControlName="name_surname" placeholder="Name and surname">
        </div>

        <div [ngClass]="(editForma.controls.age.invalid) ? 'error' : 'form-group' ">
          <input type="text" formControlName="age" placeholder="Age">
        </div>

        <div>
          <div class="select mt-2 ml-3 lightSilver opacity09">
            <select formControlName="sex">
              <option>Man</option>
              <option>Woman ❤️‍</option>
            </select>
          </div>
        </div>

        <div class="mt-3">
          <div [ngClass]="(editForma.controls.password.invalid) ? 'error' : 'form-group' ">
            <input type="password" formControlName="password" placeholder="Password">
          </div>

          <div [ngClass]="editForma.controls.password.touched && (editForma.controls.password.value != editForma.controls.duplicate_password.value
      || editForma.controls.password.invalid || editForma.controls.duplicate_password.invalid) ? 'error' : 'form-group' ">
            <input type="password" formControlName="duplicate_password" placeholder="Duplicate password">
          </div>
        </div>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary btn-block"
              [disabled]="editForma.invalid || editForma.controls.password.value != editForma.controls.duplicate_password.value">
        Change
      </button>
    </div>

  </form>
</div>
