<div class="container">


  <div class="d-flex justify-content-around">
    <div class="col-4">

      <div class="">
        <button *ngIf="!statusForViewButtonSortByTitle" (click)="sortByTitle(!statusForViewButtonSortByTitle)"
        class="border bg-deepSilver w-100 p-1">
          <span class="white lighter"> SortByTitle (Asc)</span>
        </button>
      </div>

      <div class="">
        <button *ngIf="statusForViewButtonSortByTitle" (click)="sortByTitle(!statusForViewButtonSortByTitle)"
                class="border bg-deepSilver w-100 p-1">
          <span class="white lighter"> SortByTitle (Desc)</span>
        </button>
      </div>

      <div class="my-2 ">
        <button *ngIf="!statusForViewButtonSortByPrice" (click)="sortByPrice(!statusForViewButtonSortByPrice)"
                class="border bg-deepSilver w-100 p-1">
          <span class="white lighter">SortByPrice (Asc)</span>
        </button>
      </div>

      <div class="my-2 ">
        <button *ngIf="statusForViewButtonSortByPrice" (click)="sortByPrice(!statusForViewButtonSortByPrice)"
                class="border bg-deepSilver w-100 p-1">
          <span class="white lighter">SortByPrice (Desc)</span>
        </button>
      </div>

    </div>

    <div class="ml-3">
      <div>
        <input placeholder="Write your price" type="text" [(ngModel)]="inputPriceValue" class="border white bg-deepSilver p-1" >
        <button class="border mx-1 p-1" (click)="getCourseByLimitPrice()">OK</button>
        <button class="border mx-1 p-1" (click)="getAllCourseByGenre()">Get all</button>
      </div>

      <div class="my-2">
        <input placeholder="Search" type="text" [(ngModel)]="inputSearchValue" class="border white bg-deepSilver p-1" >
        <button class="border mx-1 p-1" (click)="navigate()">OK</button>
        <button class="border mx-1 p-1" (click)="backClicked()">Go back</button>
      </div>
    </div>

  </div>


  <app-pre-view-courses class="m-3 border" *ngFor="let course of courses" [title]="course.title" [id]="course.id"
                        [genre]="course.genre">

  </app-pre-view-courses>

</div>
