<div>
  <form [formGroup]="createTVForm" (submit)="create()">
    <div
      [ngClass]="(createTVForm.controls.title.invalid) ? 'error' : 'form-group' ">
      <label>Title</label>
      <input class="form-control " type="text" formControlName="title"
             placeholder="Title">
    </div>

    <div
      [ngClass]="(createTVForm.controls.description.invalid) ? 'error' : 'form-group' ">
      <label>Description</label>
      <input class="form-control " type="text" formControlName="description"
             placeholder="Description">
    </div>

    <div
      [ngClass]="(createTVForm.controls.price.invalid) ? 'error' : 'form-group' ">
      <label>Price</label>
      <input class="form-control " type="text" formControlName="price"
             placeholder="Price">
    </div>

    <div
      [ngClass]="(createTVForm.controls.screen_diagonal.invalid) ? 'error' : 'form-group' ">
      <label>Screen diagonal</label>
      <input class="form-control " type="text" formControlName="screen_diagonal"
             placeholder="Screen diagonal">
    </div>

    <div
      [ngClass]="(createTVForm.controls.smart_tv_support.invalid) ? 'error' : 'form-group' ">
      <label>Smart tv support</label>
      <input class="form-control " type="text" formControlName="smart_tv_support"
             placeholder="Smart tv support">
    </div>

    <div
      [ngClass]="(createTVForm.controls.smart_platform.invalid) ? 'error' : 'form-group' ">
      <label>Smart platform</label>
      <input class="form-control " type="text" formControlName="smart_platform"
             placeholder="Smart platform">
    </div>

    <div
      [ngClass]="(createTVForm.controls.hdr.invalid) ? 'error' : 'form-group' ">
      <label>HDR</label>
      <input class="form-control " type="text" formControlName="hdr"
             placeholder="HDR">
    </div>

    <div *ngIf="createTVForm.controls.title.valid">
      <div>
        <label>Photo </label>
        <div>
          <label for="files" class="w-100 bg-white silver">Load photo</label>
        </div>
        <input style="visibility:hidden;" id="files" formControlName="file" type="file"
               (change)="onFileSelected($event)">
      </div>
    </div>


    <div class="frm-group">
      <button [disabled]="createTVForm.invalid" class="btn btn-primary btn-block" type="submit">OK</button>
    </div>
  </form>
</div>

