<div>
  <form [formGroup]="createNotebookForm" (submit)="create()">
    <div
      [ngClass]="(createNotebookForm.controls.title.invalid) ? 'error' : 'form-group' ">
      <label>Title</label>
      <input class="form-control " type="text" formControlName="title"
             placeholder="Title">
    </div>

    <div
      [ngClass]="(createNotebookForm.controls.description.invalid) ? 'error' : 'form-group' ">
      <label>Description</label>
      <input class="form-control " type="text" formControlName="description"
             placeholder="Description">
    </div>

    <div
      [ngClass]="(createNotebookForm.controls.price.invalid) ? 'error' : 'form-group' ">
      <label>Price</label>
      <input class="form-control " type="text" formControlName="price"
             placeholder="Price">
    </div>

    <div
      [ngClass]="(createNotebookForm.controls.screen_diagonal.invalid) ? 'error' : 'form-group' ">
      <label>Screen diagonal</label>
      <input class="form-control " type="text" formControlName="screen_diagonal"
             placeholder="Screen diagonal">
    </div>

    <div
      [ngClass]="(createNotebookForm.controls.processor.invalid) ? 'error' : 'form-group' ">
      <label>Processor</label>
      <input class="form-control " type="text" formControlName="processor"
             placeholder="Processor">
    </div>

    <div
      [ngClass]="(createNotebookForm.controls.ram.invalid) ? 'error' : 'form-group' ">
      <label>RAM</label>
      <input class="form-control " type="text" formControlName="ram"
             placeholder="RAM">
    </div>

    <div
      [ngClass]="(createNotebookForm.controls.storage_capacity.invalid) ? 'error' : 'form-group' ">
      <label>Storage capacity</label>
      <input class="form-control " type="text" formControlName="storage_capacity"
             placeholder="Storage capacity">
    </div>

    <div
      [ngClass]="(createNotebookForm.controls.graphics_card.invalid) ? 'error' : 'form-group' ">
      <label>Graphics card</label>
      <input class="form-control " type="text" formControlName="graphics_card"
             placeholder="Graphics card">
    </div>

    <div *ngIf="createNotebookForm.controls.title.valid">
      <div>
        <label>Photo </label>
        <div>
          <label for="files" class="w-100 bg-white silver">Load photo</label>
        </div>
        <input style="visibility:hidden;" id="files" formControlName="file" type="file"
               (change)="onFileSelected($event)">
      </div>
    </div>


    <div class="frm-group">
      <button [disabled]="createNotebookForm.invalid" class="btn btn-primary btn-block" type="submit">OK</button>
    </div>
  </form>
</div>

