<div class="white container">
  <div class="d-flex ">

    <div class="col-2 col-12-sm">
      <p><span>Age: </span> <span> {{profilePageService.user.age}}</span></p>
      <p><span>Login: </span> <span> {{profilePageService.user.username}}</span></p>
      <p *ngIf="profilePageService.user.mail"><span>Email: </span> <span> {{profilePageService.user.mail}}</span></p>

      <div class="hoverBTN">
        <button class="bg-none border p-2" *ngIf="profilePageService.user.stripe_card_id == null "
                (click)="activateCard()">Activate card
        </button>

        <button class="bg-none border p-2" *ngIf="profilePageService.user.stripe_card_id != null "
                (click)="changeCard()">Change card
        </button>
      </div>

      <p class="hoverBTN mt-3"> <a class="p-2 border " routerLink="edit">Edit data</a></p>

      <div class="hoverBTN ">
        <label for="files" class="p-2 border font-w-l ">Change photo</label>
        <input style="visibility:hidden;" id="files" class="bg-none border " type="file" (change)="onFileSelected($event)">
      </div>

    </div>

    <div *ngIf="profilePageService.user.stripe_card_id != null " class="position-relative fb-card">

      <div class="card-container jp-card jp-card-default jp-card-identified jp-card-front">

      </div>

      <form class=""
            card
            container=".card-container"
            card-width="250"
            [placeholders]="profilePageService.placeholders"
            formatting="false"
            debug="true">

        <div>
          <button class="opacity0" disabled card-number></button>
          <button class="opacity0" disabled card-name></button>
          <button class="opacity0" disabled card-expiry></button>
          <div class="hoverBTN position-absolute position-top-0 position-right-6 ">
            <button class="bg-none border " card-cvc>Back side</button>
          </div>
        </div>
      </form>
    </div>
  </div>




</div>


