<div class="container text-center mt-7Extra hoverBTN ">

  <p class="p-3 bg-lightBlack borderRadius10 cursor" routerLink="list/c/"><a class="silver">C++</a></p>
  <p class="p-3 bg-silver borderRadius10 cursor" routerLink="list/java/"><a class="black">Java</a></p>
  <p class="p-3 bg-lightBlack borderRadius10 cursor" routerLink="list/python/"><a class="silver">Python</a></p>
  <p class="p-3 bg-silver borderRadius10 cursor" routerLink="list/delphi/"><a class="black">Delphi</a></p>
  <p class="p-3 bg-lightBlack borderRadius10 cursor" routerLink="list/js/"><a class="silver">Java Script</a></p>
  <p class="p-3 bg-silver borderRadius10 cursor" routerLink="list/web/"><a class="black">Web</a></p>

</div>



