<div>
  {{tv.title}}
  <img style="width: 150px" src='{{tv.imageURL}}' alt="">
  {{tv.description}}
  {{tv.price}}
  {{tv.screen_diagonal}}
  {{tv.smart_tv_support}}
  {{tv.smart_platform}}
  {{tv.hdr}}


  <button (click)="setStatusBuyComponent(!statusBuyComponent)">
    <span *ngIf="statusBuyComponent">Buy</span>
    <span *ngIf="!statusBuyComponent">Back</span>
  </button>


  <div *ngIf="!statusBuyComponent">

    <form [formGroup]="orderForma" (submit)="buyPhone()">
      <div
        [ngClass]="(orderForma.controls.whereSend.invalid) ? 'error' : 'form-group' ">
        <input class="form-control " type="text" formControlName="whereSend"
               placeholder="Please write the address where we will send the goods.">
      </div>

      <div>
        <select formControlName="count">
          <option [selected]="true">1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </div>

      <div class="frm-group">
        <button [disabled]="orderForma.invalid" class="btn btn-primary btn-block" type="submit">OK</button>
      </div>

    </form>

  </div>

</div>

