<div>
  {{tv.title}}
  <img style="width: 150px" src='{{tv.imageURL}}' alt="">
  {{tv.description}}
  {{tv.price}}
  {{tv.screen_diagonal}}
  {{tv.smart_tv_support}}
  {{tv.smart_platform}}
  {{tv.hdr}}


  <button (click)="setStatusBuyComponent(!statusBuyComponent)">
    <span *ngIf="statusBuyComponent">Buy</span>
    <span *ngIf="!statusBuyComponent">Back</span>
  </button>


  <div *ngIf="!statusBuyComponent">

    <form [formGroup]="orderForma" (submit)="buyTV()">
      <div
        [ngClass]="(orderForma.controls.whereSend.invalid) ? 'error' : 'form-group' ">
        <input class="form-control " type="text" formControlName="whereSend"
               placeholder="Please write the address where we will send the goods.">
      </div>

      <div>
        <select formControlName="count">
          <option [selected]="true">1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </div>

      <div class="frm-group">
        <button [disabled]="orderForma.invalid" class="btn btn-primary btn-block" type="submit">OK</button>
      </div>

    </form>

  </div>


  <div *ngIf="appService.adminStatus">
    <button (click)="setStatusUpdateForm(!statusUpdateForm)">
      <span *ngIf="!statusUpdateForm">Update</span>
      <span *ngIf="statusUpdateForm">Back</span>
    </button>

    <form *ngIf="statusUpdateForm" [formGroup]="updateForma" (submit)="update()">
      <div
        [ngClass]="(updateForma.controls.title.invalid) ? 'error' : 'form-group' ">
        <label>Title</label>
        <input class="form-control " type="text" formControlName="title"
               placeholder="Title">
      </div>

      <div
        [ngClass]="(updateForma.controls.description.invalid) ? 'error' : 'form-group' ">
        <label>Description</label>
        <input class="form-control " type="text" formControlName="description"
               placeholder="Description">
      </div>

      <div
        [ngClass]="(updateForma.controls.price.invalid) ? 'error' : 'form-group' ">
        <label>Price</label>
        <input class="form-control " type="text" formControlName="price"
               placeholder="Price">
      </div>

      <div
        [ngClass]="(updateForma.controls.screen_diagonal.invalid) ? 'error' : 'form-group' ">
        <label>Screen diagonal</label>
        <input class="form-control " type="text" formControlName="screen_diagonal"
               placeholder="Screen diagonal">
      </div>

      <div
        [ngClass]="(updateForma.controls.smart_tv_support.invalid) ? 'error' : 'form-group' ">
        <label>Smart tv support</label>
        <input class="form-control " type="text" formControlName="smart_tv_support"
               placeholder="Smart tv support">
      </div>

      <div
        [ngClass]="(updateForma.controls.smart_platform.invalid) ? 'error' : 'form-group' ">
        <label>Smart platform</label>
        <input class="form-control " type="text" formControlName="smart_platform"
               placeholder="Smart platform">
      </div>

      <div
        [ngClass]="(updateForma.controls.hdr.invalid) ? 'error' : 'form-group' ">
        <label>HDR</label>
        <input class="form-control " type="text" formControlName="hdr"
               placeholder="HDR">
      </div>

      <div>
        <label>Photo </label>
        <div>
          <label for="files" class="w-100 bg-white silver">Load photo</label>
        </div>
        <input style="visibility:hidden;" id="files" formControlName="file" type="file"
               (change)="onFileSelected($event)">
      </div>


      <div class="frm-group">
        <button [disabled]="updateForma.invalid" class="btn btn-primary btn-block" type="submit">OK</button>
      </div>
    </form>

  </div>

</div>

