<div class="mx-2 p-1 border ">

  <div class="text-center">
    <div><span class="fn-size-5 bold white">{{course.title}}</span></div>
    <div class="p-2"><span class="lightSilver">{{course.description}}</span></div>
  </div>

  <div class="mx-4">
    <p><span>Genre: </span> <span class="lightSilver">{{course.genre}}</span></p>
    <p><span>Price: </span> <span class="lightSilver pl-2">{{course.price}} $</span></p>
  </div>

  <div class="mx-1 p-1 borderForMovie">
    <mat-video src="{{course.downloadURL}}"></mat-video>
  </div>


  <div class="mt-4">
    <p><span>Commentaries: </span></p>

    <div class="ml-2">
      <input class="bg-none border p-2 white" type="text" [(ngModel)]="inputCommentValue">
      <span class="hoverBTN mx-2">
        <button class="bg-none border p-2" (click)="sendComment(course.id)">Send</button>
      </span>
    </div>

    <div class="mx-4 my-3">
      <ul class="list-none">
        <li *ngFor="let comment of commentaries">
          <p>
            <span [ngClass]="(comment.statusForDeleteView === 1) && 'delete' ">
              <span *ngIf="comment.statusForDeleteView === 1" (click)="deleteComment(+comment.id)" class="silver">
               {{comment.ownerName}}</span>
            <span *ngIf="comment.statusForDeleteView != 1" class="silver">
              {{comment.ownerName}}</span>
            </span>: <span class="white">{{comment.text}}</span>
          </p>

        </li>
      </ul>
    </div>
  </div>

  <button class="btn btn-primary btn-block" (click)="mainPageService.navigate('/main/my-courses')">Back</button>
</div>
